body {
    padding: 2rem;           
}

.container {
    border: solid black 2px;
    border-radius: 10px;
    max-width: 60%;
    padding: 10px;
    margin: auto;
}

form {
    margin-top: 3rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.btn {
    display: flex;
    justify-content: space-between;
}

#sBtn{
    margin-left:10px;
}
p{padding: 3px;}