<!--Vanessa Victorino - 301201653-->
<!--05OCT24-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
     <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <main id="viewDetails" class="container">
        <h1>Welcome, <span th:text="${order.name}">Max</span></h1>
        <p>Your order details:</p>
        <p>Email Address: <span th:text="${order.email}">amax@yahoo.com</span></p>
        <p>Phone Number: <span th:text="${order.phone}">123-456-7890</span></p>
        <p>Address: <span th:text="${order.address}">18 Progress Ave, Scarborough, ON</span></p>
        <h2>Phone Details</h2>
        <p>Phone Brand: <span th:text="${order.brand}">iPhone</span></p>
        <p>Phone Model: <span th:text="${order.model}">iPhone XR</span></p>
        <p>Phone Price:  $<span th:text="${order.formattedPhonePrice}">979.00</span></p>
        <p>Quantity: <span th:text="${order.quantity}">2</span></p>
        <p>Total: <span th:text="${totalPrice}">1958.00</span></p>
    </main>
    <script th:src="@{/js/script.js}" defer></script>
</body>

</html>